@import url(https://fonts.googleapis.com/css?family=Comfortaa|Raleway);
body {
  height: 100%;
  /*padding: 0 24px;*/
  margin: 0;
  color: #FFFFFF;
  background-color: #7E8691;
  overflow: hidden;
}

/*For the intro*/

main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 63px auto;
  -webkit-transition: -webkit-transform 0.8s 0.61s ease-out;
  transition: -webkit-transform 0.8s 0.61s ease-out;
  transition: transform 0.8s 0.61s ease-out;
  transition: transform 0.8s 0.61s ease-out, -webkit-transform 0.8s 0.61s ease-out;
}

h2.title {
   opacity: 0;
  position: relative;
  font-family: 'Comfortaa', cursive;
  margin-left: 10%;
  padding: 0;
  height: 5%;
  font-size:30px;
   text-align: center;
   -webkit-transform: translateY(24px);
          transform: translateY(24px);
  -webkit-transition: opacity 0s 1.42s ease-out, -webkit-transform 0s 1.42s ease-out;
  transition: opacity 0s 1.42s ease-out, -webkit-transform 0s 1.42s ease-out;
  transition: transform 0s 1.42s ease-out, opacity 0s 1.42s ease-out;
  transition: transform 0s 1.42s ease-out, opacity 0s 1.42s ease-out, -webkit-transform 0s 1.42s ease-out;
  z-index: 1;
}

h1{
  opacity: 0;
  position: relative;
  font-family: 'Comfortaa', cursive;
  font-size: 80px;
  text-align: center;
  /*margin: 0 5px 70px ;*/
  margin-left: 7%;
  margin-bottom: 0;
  margin-top: 20%;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
  -webkit-transition: opacity 0s 1.42s ease-out, -webkit-transform 0s 1.42s ease-out;
  transition: opacity 0s 1.42s ease-out, -webkit-transform 0s 1.42s ease-out;
  transition: transform 0s 1.42s ease-out, opacity 0s 1.42s ease-out;
  transition: transform 0s 1.42s ease-out, opacity 0s 1.42s ease-out, -webkit-transform 0s 1.42s ease-out;
  z-index: 1;
}

h1 span {
  margin-left: 10%;
  color: #00B4FF;
}

h2 span {
  margin-right: 5%;
color: #00B4FF;
}

.open h1, .open h2{
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.6s 0.5s ease-out, -webkit-transform 0.4s 0.5s ease-out;
  transition: opacity 0.6s 0.5s ease-out, -webkit-transform 0.4s 0.5s ease-out;
  transition: transform 0.4s 0.5s ease-out, opacity 0.6s 0.5s ease-out;
  transition: transform 0.4s 0.5s ease-out, opacity 0.6s 0.5s ease-out, -webkit-transform 0.4s 0.5s ease-out;
}

.panel {
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: #00B4FF;
  z-index: 6;
  visibility: visible;
  -webkit-transition: opacity 0.8s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.8s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.8s 0.61s ease-out;
  transition: transform 0.6s ease-in-out, opacity 0.8s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
}
.panel.left {
  left: 0;
  text-align: center;
 font-family: 'Comfortaa', cursive;
 font-size: 28px;
}
.panel.left:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  height: 46px;
  width: 0;
 
 }
.panel.right {
  right: 0;
  text-align: center;
 font-family: 'Comfortaa', cursive;
 font-size: 28px;
}
.panel.right:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: '';
  height: 46px;
  width: 0;
  

}

.dot.left:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: -60%;
  left: 39%;
  margin: auto;
  width: 24px;
  height: 24px;
  background-color: #FFF9F2;
  border-radius: 100%;
  z-index: 3;
  box-shadow: #00B4FF 0 0 0 4px;
}
.dot.right:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 20%;
  left: 39%;
  margin: auto;
  width: 24px;
  height: 24px;
  background-color: #FFF9F2;
  border-radius: 100%;
  z-index: 3;
  box-shadow: #00B4FF 0 0 0 4px;
   

}

.open .panel {
  opacity: 0.2;
  -webkit-transition: opacity 0s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0s 0.61s ease-out;
  transition: transform 0.6s ease-in-out, opacity 0s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
}
.open .panel.left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.open .panel.right {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

button {
  cursor: pointer;
  position: fixed;
  top: -5%;
  right: 0;
  bottom: 0;
  left: -.3%;
  margin: auto;
  width: 100px;
  height: 100px;
  color: white;
  background-color: transparent;
  padding: 0 24px;
  font-size: 18px;
  border: 0;
  z-index: 6;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
button:focus {
  outline: none;
}


.bracket {
    color: black;
    font-size: 200px;
    margin-right: 5%;
}
p.letter-two {
    position: absolute;
    margin-left: 60%;
    font-size: 150px;
    margin-top: 40%;
}
p.letter-one {
  position: absolute;
    margin-left: 15%;
    font-size: 150px;
    margin-top: 40%;
}
/*
.show main {
  opacity: 0;
  -webkit-transition: opacity 0s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0s 0.61s ease-out;
  transition: transform 0.6s ease-in-out, opacity 0s 0.61s ease-out, -webkit-transform 0.6s ease-in-out;
   -webkit-transform: translate3d(-50%, -110%, 0);
          transform: translate3d(-50%, -110%, 0);
}*/
/*.open .panel.left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.open .panel.right {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}*/

/*For the rest of the app*/

.option {
  opacity: 1;
}

div.option {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4;
}
div.one {
  z-index: 2;
}
/*Nav bar*/
nav {
  width: 100%;
  margin: 0;
  position:fixed;
 display: flex;
  flex-direction: row;
  z-index: 5;
  background-color: #464B56;
}

p.choice {
  margin: 3% 10% 3% 4%;
}

/*About Section */

div.about {
  background-color: #00B4FF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
div.about.text {
  flex-direction: column;
  height: 60%;
  width: 40%;
  margin-top:6%;

  background-color: #7E8691;
  box-shadow: hsla(0, 100%, 98%, .8) 0 0 0 4px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 10%;
  overflow: scroll;
}


div.image {
  /*background-color: #FFF9F2;
  border-radius: 100%;*/
  max-width: 30%;
}
img.profile {
  height: 26%;
  width: 50%;
  opacity: 1;
  margin-top: 20%;
  margin-left: 20%;
  border: 5px solid #FFF9F2;
  border-radius: 100%;
  /*box-shadow: #00B4FF 0 0 0 4px;*/
}
div.brand {
  color: black/*#464B56*/;
  font-size: 25px;
  font-family: 'Comfortaa', cursive;
  font-style: italic;
  /*background-color: hsla(0, 100%, 98%, .5);*/
  border-radius: 3px;
  font-weight: bolder;
  padding: 1%;
  margin-top: 10%;
}

/*skills section*/

div.skills {
  background-color: hsla(215, 8%, 53%, .5);
  /*display: flex;*/
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: center;
  
}

img.skill-logo {
   max-height: 5%;
   max-width: 10%;
   margin: 2em;
   margin-left: 7.3em;
   padding-left: 1%;
}

/*Projects section------------------------------------------*/

div.projects {
  background-color: #00B4FF;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: center;
  /*padding-top: 30%;*/
}

img.project {
    max-height: 73%;
    max-width: 85%;
    margin: 2%;
    /*margin-top: 26%;*/
    border-radius: 10px;
    border: 5px solid #FFFFFF;
    padding: 1%;
}
div.tooltip {
    max-height: 40%;
    max-width: 40%;
     margin: 2em;
    font-family: 'Raleway', sans-serif;
}

div.tooltip .tooltiptextone {
    visibility:hidden;
    width: 25%;
    bottom:55%;
    left:16%;
    margin-left: -60px; 
    background-color: #464B56;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
}

div.tooltip .tooltiptexttwo {
    visibility:hidden;
    width: 25%;
    bottom:47%;
    left:62%;
    margin-left: -60px; 
    background-color: #464B56;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
}

div.tooltip .tooltiptextthree {
    visibility:hidden;
    width: 25%;
    bottom:20%;
    left:40%;
    margin-left: -60px; 
    background-color: #464B56;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
}

div.tooltip:hover .tooltiptextone, div.tooltip:hover .tooltiptexttwo, div.tooltip:hover .tooltiptextthree {
    visibility: visible;
}

div.tooltip .tooltiptextone::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 5;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #464B56 transparent transparent transparent;
}

div.tooltip .tooltiptexttwo::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    /*z-index: 5;*/
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #464B56 transparent;
}

div.tooltip .tooltiptextthree::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 5;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #464B56 transparent transparent transparent;
}

a {
    text-decoration: none;
    color:#00B4FF;
    font-size: 20px;
}

div.interests {
  background-color: #7E8691;
}

div.contact {
  background-color: #00B4FF;
}

div.resume {
  background-color: #7E8691;
}
